<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>Jhon Doe</td>
            <td>j.d@example.com</td>
            <td>Dhaka</td>
        </tr>
        <tr>
            <td>Jhon Lee</td>
            <td>j.l@example.com</td>
            <td>Dhaka</td>
        </tr>
        <tr>
            <td>Tom Doe</td>
            <td>j.d@example.com</td>
            <td>Dhaka</td>
        </tr>
    </table>
</div>